---
import HomeLayout from '@/layouts/home.astro';
---

<HomeLayout
	title="Learn | Dustin Goodman"
	description="Educational materials created by Dustin."
>
	<div class="container mx-auto px-4 py-4">
		<h1>Learning Catalog</h1>
		<p>Lorem ipsum dolor...</p>
	</div>
	<section class="bg-blue-100 dark:bg-slate-900 min-h-full">
		<div
			class="container max-w-[90%] mx-auto px-4 py-8 grid md:grid-cols-2 lg:grid-cols-3 gap-4"
		>
			<a href="/learn/programming-fundamentals">Programming Fundamentals</a>
		</div>
	</section>
</HomeLayout>
