---
import BaseLayout from '../../layouts/base.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

const posts = Astro.fetchContent<MarkdownFrontmatter>('./**/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---
<BaseLayout
  title="Blog | Dustin Goodman"
  description="Learn from Dustin Goodman's blog"
>
  <h1>Dustin&apos;s Blog</h1>
  <section class="grid grid-cols-2 gap-8">
    {posts.map((post) => (<BlogPostPreview post={post} />))}
  </section>
</BaseLayout>
