---
import HomeLayout from '@/layouts/home.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';
import { BlogPost } from '@/types';

const allPosts = await Astro.glob<BlogPost>('./**/*.md');
const posts = allPosts
  .filter(
    ({ frontmatter }) => !!frontmatter.publishDate && !frontmatter.redirectUrl
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
  .map(({ url, frontmatter }) => {
    return {
      ...frontmatter,
      url,
    };
  });
---

<HomeLayout
  title="Blog | Dustin Goodman"
  description="Learn from Dustin Goodman's blog"
>
  <div class="container mx-auto px-4 py-4">
    <h1>Dustin's Blog</h1>
    <p>
      Writings on interesting problems, releases, or other topics I think are
      interesting that I recommend you read too.
    </p>
  </div>
  <section class="bg-blue-100 dark:bg-slate-900">
    <div
      class="container max-w-[90%] mx-auto px-4 py-8 grid md:grid-cols-2 lg:grid-cols-3 gap-4"
    >
      {posts.map((post) => <BlogPostPreview post={post} />)}
    </div>
  </section>
</HomeLayout>
