---
import { getCollection } from 'astro:content';
import LandingLayout from '@/layouts/landing.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';

const allPosts = await getCollection('blog', (post) => {
	return (
		import.meta.env.MODE !== 'production' &&
		post.data.draft !== true &&
		!post.data.redirectUrl
	);
});
const posts = allPosts.sort(
	(a, b) =>
		new Date(b.data.publishDate).valueOf() -
		new Date(a.data.publishDate).valueOf()
);
---

<LandingLayout
	title="Blog | Dustin Goodman"
	description="Learn from Dustin Goodman's blog"
>
	<section class="container mx-auto px-4 py-4">
		<h1>Dustin's Blog</h1>
		<p>
			I write about problems I think are interesting, releases of personal or
			external projects that are important to me, and a variety of other topics
			that I hope interest readers. My goal is to provide valuable insight into
			web development, software engineering, or engineering management practices
			that I've learned over the years. This links to all my blog posts across
			the internet. I hope you find my posts valuable. 🤓
		</p>
	</section>
	<section class="bg-blue-100 dark:bg-slate-900">
		<div class="container mx-auto flex max-w-[90%] flex-col gap-y-2 px-4 py-8">
			{posts.map((post) => <BlogPostPreview post={post} layout="list" />)}
		</div>
	</section>
</LandingLayout>
