---
import BaseLayout from '../../layouts/base.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import { BlogPost } from '@/types';

const posts = Astro.fetchContent<BlogPost>('./**/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  );
---

<BaseLayout
  title="Blog | Dustin Goodman"
  description="Learn from Dustin Goodman's blog"
>
  <section class="grid md:grid-cols-3 gap-4 px-4 md:px-0">
    {posts.map((post) => <BlogPostPreview post={post} />)}
  </section>
</BaseLayout>
