---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/base.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';

const allPosts = await getCollection('blog', (post) => {
	if (import.meta.env.MODE === 'production') {
		return post.data.draft !== true && !post.data.redirectUrl;
	}

	return !post.data.redirectUrl;
});
const posts = allPosts.sort(
	(a, b) =>
		new Date(b.data.publishDate).valueOf() -
		new Date(a.data.publishDate).valueOf()
);
---

<Layout
	title="Blog | Dustin Goodman"
	description="Learn from Dustin Goodman's blog"
>
	<section
		class="md:grids-cols-2 container mx-auto grid max-w-5xl flex-col gap-4 gap-y-6 bg-blue-100 dark:bg-slate-900 xl:grid-cols-3"
	>
		{posts.map((post) => <BlogPostPreview post={post} />)}
	</section>
</Layout>
