---
import HomeLayout from '@/layouts/home.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';
import { ConferenceTalk } from '@/types';

const allTalks = await Astro.glob<ConferenceTalk>('./**/*.md');
const talks = allTalks.map(async (talk) => {
	const data = await talk.default();
	return data;
});
console.log(talks);

// const allPosts = await Astro.glob<ConferenceTalk>('./**/*.astro');
// const posts = allPosts
// 	.filter(
// 		({ frontmatter }) => !!frontmatter.publishDate && !frontmatter.redirectUrl
// 	)
// 	.sort(
// 		(a, b) =>
// 			new Date(b.frontmatter.publishDate).valueOf() -
// 			new Date(a.frontmatter.publishDate).valueOf()
// 	)
// 	.map(({ url, frontmatter }) => {
// 		return {
// 			...frontmatter,
// 			url,
// 		};
// 	});
---

<HomeLayout
	title="Blog | Dustin Goodman"
	description="Learn from Dustin Goodman's blog"
>
	<section class="container mx-auto px-4 py-4">
		<h1>Dustin's Talks</h1>
		<p>
			I've spoken at conferences over the years. Check out some of my talks or
			find slides and relevant code.
		</p>
	</section>
	<section class="bg-blue-100 dark:bg-slate-900">
		<div class="container max-w-[90%] mx-auto px-4 py-8 gap-y-2 flex flex-col">
		</div>
	</section>
</HomeLayout>
