---
import BaseLayout from '../../layouts/base.astro';

const title = 'Web Performance Profiling and Best Practices';
const description = '';
---
<BaseLayout
  title={`${title} | Dustin Goodman`}
  description={description}
>
  <h1>{title}</h1>
  <p>
    <strong>Co-speaker:</strong>
    <a href="https://twitter.com/ladyleet" target="_blank">Tracy Lee</a>
  </p>
  <p>{description}</p>

  <h3>Paid Recordings</h3>
  <ul>
    <li>
      <a href="https://ui.dev/" target="_blank">
        ui.dev
      </a>
    </li>
  </ul>
</BaseLayout>
