@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-display: swap;
		font-size: 18px;
		scroll-padding-top: 5rem;
	}

	body {
		@apply m-0 text-gray-900;
	}

	* {
		@apply box-content;
	}

	img {
		@apply mx-auto h-auto max-w-full;
	}

	h1 {
		@apply my-4 text-4xl font-bold;
	}

	h2 {
		@apply mb-4 text-3xl font-bold;
	}

	h3 {
		@apply mb-2 text-2xl font-bold;
	}

	a {
		@apply text-blue-800 hover:text-blue-500 hover:underline dark:text-blue-200 dark:hover:text-blue-400;
	}

	p {
		@apply mb-4 block leading-relaxed;
	}

	ol,
	ul {
		@apply ml-8 list-outside;
	}

	ol {
		@apply list-decimal;
	}

	ul {
		@apply list-disc;
	}

	li {
		@apply mb-2;
	}

	li > p {
		@apply mb-1;
	}

	p > img {
		@apply mx-auto;
	}

	pre {
		@apply p-2;
		@apply mb-4;
		font-display: swap;
		font-size: 14px;
	}

	blockquote {
		@apply border-l-4 px-4 italic;
	}

	.twitter-tweet {
		@apply mx-auto;
	}
}
