---
import BaseLayout from '@/layouts/base.astro';
import HeroBanner from '@/components/HeroBanner.astro';
import BlogPostPreview from '@/components/BlogPostPreview.astro';

import Button from '@/components/Button/index.jsx';

const blogPosts = Astro.fetchContent('./blog/**/*.md');
const recentBlogPosts = blogPosts.slice(-3).reverse();
---

<BaseLayout
  title="Welcome | Dustin Goodman"
  description="Dustin Goodman: Developer, Speaker, and Writer..."
  enableWrapper={false}
  enableVerticalPadding={false}
>
  <HeroBanner />
  <div class="container mx-auto mt-2 mb-4">
    <section>
      <h3 class="mt-16 mb-8">About me</h3>
      <p class="leading-loose mb-8">
        I’m Dustin, and this is my website. It was made using{' '}
        <a
          href="https://github.com/withastro/astro"
          target="_blank"
          rel="nofollow"
        >
          Astro
        </a>, a new way to build static sites. This is just an example template
        for you to modify.
      </p>
      <p>
        <a href="/about">Read more</a>
      </p>
    </section>

    <section>
      <h3 class="mt-16 mb-8">Recent Posts</h3>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 md:px-0">
        {recentBlogPosts.map((post) => <BlogPostPreview post={post} />)}
      </div>

      <div class="text-center mt-4">
        <a href="/blog">
          <Button>View All</Button>
        </a>
      </div>
    </section>
  </div>
</BaseLayout>
