---
import BaseLayout from '../layouts/base.astro';
import HeroBanner from '../components/HeroBanner.astro';

import Button from '../components/Button/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout
  title="Welcome | Dustin Goodman"
  description="Dustin Goodman: Developer, Speaker, and Writer..."
  enableWrapper={false}
>
  <HeroBanner />
  <div class="container mx-auto mt-2 mb-4">
    <div class="grid">
      <div class="section">
        <h3 class="sectionTitle">Selected Work</h3>
        <PortfolioPreview project={featuredProject} />
        <div class="tac mt4">
          <a href="/projects">
            <Button>View All</Button>
          </a>
        </div>
      </div>
      <div class="section">
        <h3 class="sectionTitle">About me</h3>
        <p class="bio">
          <span>Hello!</span> I’m Dustin, and this is my website. It was made using{' '}
          <a href="https://github.com/withastro/astro" target="_blank" rel="nofollow">
            Astro
          </a>, a new way to build static sites. This is just an example template for you to modify.
        </p>
        <p>
          <a href="/about">Read more</a>
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
