---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/base.astro';
import { sortCollectionByDateDesc } from '@/utils/date';
import VideoCard from '@/components/VideoCard.astro';
import PodcastCard from '@/components/PodcastCard.astro';

const videos = (await getCollection('videos')).sort(sortCollectionByDateDesc);
const podcasts = (await getCollection('podcasts')).sort(
	sortCollectionByDateDesc
);
const conferences = (await getCollection('conferences')).sort(
	sortCollectionByDateDesc
);
---

<Layout
	title="Portfolio | Dustin Goodman"
	description="Dustin around the community"
>
	<div class="container relative mx-auto flex flex-col">
		<h1 class="my-2">Checkout my apperances on the web</h1>
		<section>
			<h2>Videos</h2>
			<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
				<ul class="flex flex-nowrap m-0">
					{
						videos.map((video) => (
							<li class="block px-3">
								<VideoCard video={video} />
							</li>
						))
					}
				</ul>
			</div>
			<section>
				<h2>Podcasts</h2>
				<div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
					<ul class="flex flex-nowrap m-0">
						{
							podcasts.map((podcast) => (
								<li class="block px-3">
									<PodcastCard podcast={podcast} />
								</li>
							))
						}
					</ul>
				</div>
			</section>
			<section>
				<h2>Conferences</h2>
				<ul>
					{conferences.map((conference) => <li>{conference.data.title}</li>)}
				</ul>
			</section>
		</section>
	</div>
</Layout>
