---
import headshotImageUrl from '@/images/assets/headshot.jpg?w=1420&h=1420&webp&imagetools';
import { GithubIcon, TwitchIcon, TwitterIcon } from '@/components/Icons';

const socialLinks = [
  {
    href: 'https://twitter.com/dustinsgoodman',
    label: "Dustin's Twitter",
    icon: TwitterIcon,
  },
  {
    href: 'https://github.com/dustinsgoodman',
    label: "Dustin's Github",
    icon: GithubIcon,
  },
  {
    href: 'https://twitch.tv/sharocko',
    label: "Dustin's Twitch",
    icon: TwitchIcon,
  },
];
---

<section id="about" class="dark:bg-blue-900">
  <div class="container max-w-[90%] mx-auto px-4 py-8">
    <h2 class="text-center sm:text-left mb-4">About me</h2>
    <div
      class="flex flex-wrap md:flex-nowrap space-y-4 md:space-y-0 md:space-x-8"
    >
      <img
        class="block w-full sm:w-1/2 md:w-5/12"
        src={headshotImageUrl}
        alt="Dustin Goodman Headshot"
        loading="lazy"
      />

      <div class="text-lg leading sm:w-1/2 md:w-7/12">
        <p>
          <strong>Dustin Goodman</strong> works as an Engineering Manager at
          <a
            href="https://thisdot.co"
            target="_blank"
            rel="noopener noreferrer"
            class="dark:text-blue-200 dark:hover:text-blue-400 underline"
            >This Dot Labs
          </a>, where he helps his team grow a community of current and future
          technologists in order to learn about and further web technologies. He
          enjoys writing to share what he's learned about technology as well as
          lessons learned throughout his career in the hopes that someone else
          will find them useful. He lives in New Orleans, Louisiana with his
          dog, Sony.
        </p>
        <div>
          <h3 class="text-center uppercase text-base font-bold mb-4">
            Connect with Dustin
          </h3>
          <ul class="flex items-center justify-center space-x-4 list-none ml-0">
            {socialLinks.map(({ href, label, icon: Icon }) => (
              <li>
                <a
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={label}
                  class="block rounded-full bg-blue-600 p-2 text-4xl text-white hover:bg-blue-900 hover:text-slate-100 dark:bg-white dark:text-blue-900 dark:hover:bg-slate-300 dark:hover:text-blue-700"
                >
                  <Icon />
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
