---
import { type CollectionEntry } from 'astro:content';
import BlogPostPreview from '@/components/BlogPostPreview.astro';
import Button from '@/components/Button';

const { blogPosts } = Astro.props;
type BlogType = CollectionEntry<'blog'>;
---

<section id="blog" class="bg-blue-100 dark:bg-slate-900">
	<div class="container mx-auto max-w-[90%] px-4 py-8">
		<h2 class="mb-4 text-center">Recent Posts</h2>
		<div
			class="grid gap-4 md:grid-cols-2 md:px-0 lg:grid-cols-3 xl:grid-cols-4"
		>
			{
				blogPosts.map((post: BlogType, idx: number) => (
					<BlogPostPreview
						post={post}
						className={idx > 2 ? 'lg:hidden xl:block' : ''}
					/>
				))
			}
		</div>

		<div class="my-4 text-center">
			<a href="/blog">
				<Button
					className="inline-block border-2 rounded-lg px-6 py-4 font-bold uppercase text-white dark:text-slate-900 dark:hover:text-slate-100 hover:text-blue-700 bg-blue-600 dark:bg-blue-100 hover:bg-blue-200 dark:hover:bg-blue-600 border-blue-600 dark:border-blue-100 hover:border-blue-700 dark:hover:border-blue-600"
				>
					View All
				</Button>
			</a>
		</div>
	</div>
</section>
