---
import FooterLink from '@/components/FooterLink';
import {
	BlueskyIcon,
	GithubIcon,
	LinkedInIcon,
	TwitterIcon,
} from '@/components/Icons';
---

<div class="w-full">
	<footer
		class="flex items-center justify-center bg-white px-4 py-4 text-center dark:bg-black sm:px-8"
	>
		<div class="flex items-center space-x-2">
			<FooterLink
				href="https://twitter.com/dustinsgoodman"
				target="_blank"
				aria-label="Dustin's Twitter"
				rel="noopener noreferrer"
			>
				<TwitterIcon />
			</FooterLink>
			<FooterLink
				href="https://bsky.app/profile/dustingoodman.dev"
				target="_blank"
				aria-label="Dustin's Bluesky"
				rel="noopener noreferrer"
			>
				<BlueskyIcon />
			</FooterLink>
			<FooterLink
				href="https://github.com/dustinsgoodman"
				target="_blank"
				aria-label="Dustin's Github"
				rel="noopener noreferrer"
			>
				<GithubIcon />
			</FooterLink>
			<FooterLink
				href="https://www.linkedin.com/in/dustinsgoodman/"
				target="_blank"
				aria-label="Dustin's LinkedIn"
				rel="noopener noreferrer"
			>
				<LinkedInIcon />
			</FooterLink>
		</div>
	</footer>
</div>
