---
import { DevToIcon, GithubIcon, TwitterIcon } from '@/components/Icons';

const currentYear = new Date().getFullYear();
---

<footer
  class="flex items-center bg-white dark:bg-gray-900 text-center px-4 sm:px-8 py-4"
>
  &copy; {currentYear} Dustin Goodman

  <a
    href="https://twitter.com/dustinsgoodman"
    target="_blank"
    class="social-link"
    aria-label="Dustin's Twitter"
    rel="noopener noreferrer"
  >
    <TwitterIcon className="social-link-icon" />
  </a>
  <a
    href="https://github.com/dustinsgoodman"
    target="_blank"
    class="social-link"
    aria-label="Dustin's Github"
    rel="noopener noreferrer"
  >
    <GithubIcon className="social-link-icon" />
  </a>
  <a
    href="https://dev.to/dustinsgoodman"
    target="_blank"
    class="social-link"
    aria-label="Dustin's DevTo"
    rel="noopener noreferrer"
  >
    <DevToIcon className="social-link-icon" />
  </a>
</footer>

<style>
  .social-link {
    @apply block py-1 ml-auto;
    @apply text-gray-500 dark:text-gray-200  hover:text-blue-500 focus:text-blue-500 dark:hover:text-sky-400 dark:focus:text-sky-400;
    @apply text-base uppercase no-underline;
    @apply border-b border-transparent hover:border-blue-500 dark:hover:border-sky-400;
  }

  .social-link + .social-link {
    @apply ml-4;
  }

  .social-link-icon {
    @apply w-5 h-5 fill-current transition;
  }
</style>
