---
import DarkModeToggle from './DarkModeToggle';
---

<header
  class="sticky top-0 z-50 drop-shadow flex items-center px-8 py-4 bg-white dark:bg-gray-900"
>
  <a href="/" class="flex items-center text-black hover:no-underline">
    <img
      src="/assets/avatar.png"
      alt="Dustin Goodman's Avatar"
      class="rounded-full w-10 h-10 mr-2"
    />
    <span
      class="text-2xl font-bold text-gray-700 dark:text-gray-100 hidden sm:inline"
    >
      Dustin Goodman
    </span>
  </a>

  <div class="flex items-end space-x-4 ml-auto">
    <a href="#about" class="link">About</a>
    <a href="#blog" class="link">Blog</a>
    <span class="link">
      <DarkModeToggle className="link" client:only />
    </span>
  </div>
</header>

<style>
  .link {
    @apply block leading-6 text-gray-500 dark:text-gray-200 no-underline text-base uppercase py-1 border-b border-transparent hover:border-blue-500 dark:hover:border-sky-400 hover:text-blue-500 focus:text-blue-500 dark:hover:text-sky-400 dark:focus:text-sky-400;
  }
</style>
