---
import { DevToIcon, GithubIcon, TwitterIcon } from '@/components/Icons';
---
<header class="flex items-center px-8 py-4">
  <a href="/" class="block text-black no-underline">
    <img src="/assets/avatar.png" alt="Dustin Goodman" class="rounded-full w-10 h-10 mr-2">

  </a>

  <a href="/blog" class="link">
    Blog
  </a>
  <a href="/about" class="link">
    About
  </a>

  <a href="https://twitter.com/dustinsgoodman" target="_blank" class="link social-link">
    <TwitterIcon className="social-link-icon" />
  </a>
  <a href="https://github.com/dustinsgoodman" target="_blank" class="link social-link">
    <GithubIcon className="social-link-icon" />
  </a>
  <a href="https://dev.to/dustinsgoodman" target="_blank" class="link social-link">
    <DevToIcon className="social-link-icon" />
  </a>
</header>

<style>
  .link {
    @apply block text-gray-500 dark:text-gray-200 ml-4 no-underline text-base uppercase py-1 border-blue-500 dark:border-sky-400 hover:border-b hover:text-blue-500 focus:text-blue-500 hover:dark:text-sky-400 focus:dark:text-sky-400;
  }

  .social-link {
    @apply block ml-auto;
  }

  .social-link + .social-link {
    @apply ml-4;
  }

  .social-link-icon {
    @apply block w-5 h-5 fill-current transition;
  }
</style>
