---
import { CodeIcon, MicIcon, PencilIcon } from '@/components/Icons';
import RolePill from '@/components/RolePill';
---

<div
  class="flex flex-col items-center justify-center relative overflow-hidden min-h-[80vw] sm:min-h-[45vw] text-white dark:text-blue-100 bg-blue-600 dark:bg-blue-900 p-4 dark:border-b-2 dark:border-blue-100"
>
  <h1 class="font-black text-3xl sm:text-5xl md:text-7xl mb-3 md:mb-6 mt-0">
    Dustin Goodman
  </h1>
  <div class="flex flex-wrap space-x-4">
    <RolePill>
      <CodeIcon className="inline" />
      <span class="hidden sm:inline">&nbsp; Developer</span>
    </RolePill>
    <RolePill>
      <MicIcon className="inline" />
      <span class="hidden sm:inline">&nbsp; Speaker</span>
    </RolePill>
    <RolePill>
      <PencilIcon className="inline" />
      <span class="hidden sm:inline">&nbsp; Writer</span>
    </RolePill>
  </div>
  <p
    class="text-md sm:text-xl md:text-2xl font-semibold max-w-3xl mt-3 md:mt-6 mb-0 px-4 md:px-16"
  >
    Just a person with a passion for web and application development. Speaker
    and writer on work experiences and software development. Dog dad and
    musician fueled by coffee.
  </p>
</div>
