---
import { Image } from 'astro:assets';
import avatarImg from '@/images/assets/avatar.png';
---

<div class="relative flex flex-col items-center justify-center p-4">
	<Image
		class="my-2 block w-48 rounded"
		src={avatarImg}
		alt="Dustin Goodman Headshot"
		loading="lazy"
		width="1136"
		height="1136"
	/>
	<p class="mb-0 max-w-prose text-center text-2xl text-gray-900">
		Hello, I'm <span
			class="underline decoration-blue-900 decoration-wavy decoration-1 underline-offset-2 dark:decoration-sky-200"
			>Dustin Goodman</span
		>!
	</p>
	<p class="max-w-prose text-center text-2xl text-gray-900">
		Engineering Leader & Technologist & Speaker
	</p>
</div>
