---
import avatarImageUrl from '@/images/assets/avatar.png?w=90&h=90&webp&imagetools';
---

<a href="/" class="flex items-center text-black hover:no-underline">
  <img
    src={avatarImageUrl}
    alt="Dustin Goodman's Avatar"
    class="mr-2 h-10 w-10 rounded-full"
  />
  <span
    class="hidden text-2xl font-bold text-gray-700 dark:text-blue-100 sm:inline"
  >
    Dustin Goodman
  </span>
</a>
