---
import { Image } from 'astro:assets';
import avatarImg from '@/images/assets/avatar.png';
---

<a href="/" class="flex items-center text-black hover:no-underline">
	<Image
		src={avatarImg}
		alt="Dustin Goodman's Avatar"
		class="mr-2 h-10 w-10 rounded-full"
		width="90"
		height="90"
		loading="eager"
	/>
	<span
		class="hidden text-2xl font-bold text-gray-700 dark:text-blue-100 sm:inline"
	>
		Dustin Goodman
	</span>
</a>
