---
import cn from 'classnames';
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  canonicalUrl?: string;
  enableWrapper?: boolean;
  enableVerticalPadding?: boolean;
}

const {
  title,
  description,
  socialImage,
  canonicalURL,
  enableWrapper = true,
  enableVerticalPadding = true,
} = Astro.props;
---

<html lang="en">
  <head>
    <Head {title} {description} {socialImage} {canonicalURL} />
    <script>
      const html = document.querySelector('html');
      let darkMode = localStorage.getItem('darkMode');
      if (!darkMode) {
        darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      } else {
        darkMode = darkMode === 'true';
      }
      if (darkMode) {
        html.classList.add('dark');
      }
      localStorage.setItem('darkMode', darkMode);
    </script>
  </head>
  <body class="text-gray-900 dark:text-white bg-white dark:bg-black">
    <Header />
    <main
      class={cn({
        'container mx-auto': enableWrapper,
        'py-4 md:py-8': enableVerticalPadding,
      })}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
