---
import BaseLayout from '@/layouts/base.astro';
import Footer from '@/components/Footer.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout {title} {description}>
  <div class="h-auto lg:h-screen flex flex-row">
    <div
      class="no-bg-scrollbar h-auto lg:h-full lg:overflow-y-scroll fixed flex flex-row lg:flex-col py-0 top-0 left-0 right-0 lg:max-w-xs w-full shadow lg:shadow-none z-50"
    >
      <!-- <Nav />
    <Sidebar /> -->
    </div>

    <div class="flex flex-1 flex-col w-full h-full pl-0 lg:pl-80">
      <main class="flex flex-1 flex-col items-end justify-around">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</BaseLayout>
